h2 {
    width: 250px;
    height: 300px;
    color: rgb(255, 255, 255);
    font-style: italic;
    text-align: center;
    

}

.card {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}